
/* Main */

/* Card Match */
.card-box {
  width: 7.5vw;
  height: 10vw;
  border: 2px solid black;
  border-radius: 8px;
  margin: 1vw;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-back, .card-front {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back{
  background-color: orange;
}

.card-front{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF3E0;
  transform: rotateY(180deg);
}

.flipped{
  transform: rotateY(180deg);
}

.card-container {
  display: grid;
  margin-left: auto;
  margin-right:auto;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}

.card-img{
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  display: block;
}

/* Whack-a-Mole */
.mole_background {
  background-color: white;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 1%;
}

.mole_buttons {
  margin-top: 1%; 
  text-align: center;
  justify-content: center;
}

.mole_title {
  color: chocolate;
  font-size: 5em;
  text-align: center;
}

.mole_board {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.mole_hole {
  margin: 0px;
  overflow: hidden;
  width: 15vw;
  height: 15vw;
}

.mole_mound {
  background: url(./assets/images/hole.png);
  background-position: right 5px bottom 0px;
  background-size: 95%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 99%;
  pointer-events: none;
  backface-visibility: hidden;
}

.game_mole {
  background-image: url(./assets/images/mole.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  transform: translate(0, 50%);
  transition: all 0.4s;
  cursor: pointer;
}

.no_bg {
  background: none;
}

.game_whacked {
  background-image: url(./assets/images/x_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  width: 100%;
  height: 100%;
}

.mole_whacked {
  
  width: 100%;
  height: 100%;
}


/*Simon_Says*/

p.pojs {
    font-size: 0.95rem;
    margin: 0 auto 1.5rem;
}

.outer {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 40%;
}

    .outer.buzz::after {
        background-color: transparent;
        border: 0px solid transparent;
        content: '';
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100; /* Should go above cells, but below scoreboard. */
        width: 100%;
        height: 100%;
    }

.sq-setter-w {
    width: 100%;
    height: auto;
    visibility: hidden;
}

.inside {
    /*outline: 1px solid blue;*/
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    min-width: 200px;
    max-width: 800px;
    max-height: 800px;
}

.inside2 {
    /*outline: 1px solid orange;*/
    font-size: 3vw;
    margin: 1em auto 0;
    display: inline-block;
    position: relative;
    height: 90%;
    width: 90%;
}
.scoreboard {
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(0deg);
    transition: transform .5s linear 0s;
}

/* Scoreboard Panel */
.scoreboard {
    /*outline: 3px solid green;*/
    background-color: gold;
    border: 5px solid #ffffff;
    border-radius: 100%;
    box-shadow: inset 1px 1px 5px darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    bottom: 24%;
    top: 24%;
    left: 23%;
    right: 23%;
    height: 50%;
    width: 50%;
    z-index: 5;
}

    .scoreboard > div {
        display: inline;
    }

.scoreboard-top > div,
.scoreboard-middle > div,
.scoreboard-bottom > div {
    outline: 0px solid blue;
    display: inline-block;
    margin: 0.25em 0 0;
    padding: 0;
}

.scoreboard-top input {
    vertical-align: middle;
}

/* START BUTTON */
.scoreboard-top .div-start {
    font-weight: bold;
    margin: 0 0 0.35em;
    padding: 0;
}

#start {
    background-color: red;
    border: 2px solid green;
    border-radius: 50%;
    box-shadow: 0.1em 0.1em darkgray;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    width: 3vw;
    height: 3vw;
    max-width: 22px;
    min-width: 10px;
    max-height: 22px;
    min-height: 10px;
}

    #start:hover,
    #start:active,
    #start:focus {
        border: 2px solid darkblue;
        outline: 0;
    }

    #start:hover {
        background-color: orangered;
    }

#simon-speed {
    height: 14px;
    text-align: center;
    vertical-align: baseline;
    width: 40px;
}

input[type="number"] {
    font-size: 0.7em;
    padding: 0.5em 0;
}

.scoreboard-middle {
    font-size: 1.1em;
    font-weight: bold;
}

    .scoreboard-middle > div {
        height: 2em;
        margin: 0.75em auto 0.25em;
        min-width: 10em;
        position: relative;
        text-align: center;
        vertical-align: bottom;
    }

.game-is {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

div.clearb {
    clear: both;
    display: block;
    height: 0.1em;
    margin: 0 auto;
    outline: 0px solid black;
    width: 1px;
}

.cells {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    width: 100%;
}

.cell {
    border: 2px solid #fff;
    /* border-radius: 50%; */
    box-shadow: 0px 0px gray;
    cursor: pointer;
    /*display: inline-block;*/
    opacity: 0.75;
    position: relative;
    width: 48%;
    min-width: 100px;
    min-height: 100px;
}

    .cell:hover,
    .cell:active,
    .cell:focus {
        outline: 0;
        opacity: 0.85;
    }

    .cell.buzzed {
        opacity: 1;
    }

#ul {
    background-color: red;
    border-top-left-radius: 100%;
    border-top-width: 3px;
    border-left-width: 3px;
    border-top-color: gray;
    border-left-color: gray;
}

#ur {
    background-color: blue;
    border-top-right-radius: 100%;
    border-top-width: 3px;
    border-right-width: 3px;
    border-top-color: gray;
    border-right-color: gray;
}

#ll {
    background-color: green;
    border-bottom-left-radius: 100%;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-bottom-color: gray;
    border-left-color: gray;
}

#lr {
    background-color: orange;
    border-bottom-right-radius: 100%;
    border-bottom-width: 3px;
    border-right-width: 3px;
    border-bottom-color: gray;
    border-right-color: gray;
}

.cell.buzz::after {
    background-color: #ffffff;
    border: 0.50em solid yellow;
    content: ' ';
    opacity: 1;
    position: absolute;
    top: -1em;
    left: -1em;
    width: 110%;
    height: 110%;
    /*min-width: 100px;*/
    /*min-height: 100px;*/
    z-index: 3;
}

#ul.buzz::after {
    background-color: red;
    border-top-left-radius: 95%;
}

#ur.buzz::after {
    background-color: blue;
    border-top-right-radius: 95%;
}

#ll.buzz::after {
    background-color: green;
    border-bottom-left-radius: 95%;
}

#lr.buzz::after {
    background-color: orange;
    border-bottom-right-radius: 95%;
}
.hide,
.hidden {
    display: none;
}

ul {
    list-style: square;
}

    ul.attribution {
        font-size: 0.9rem;
        line-height: 1.5;
        list-style: square;
        margin: 0 auto;
        padding: 0 1rem;
        text-align: left;
        width: 95%;
        max-width: 420px;
    }

    ul.fcc-links {
        border: 1px dotted gray;
        border-radius: 2px;
        font-size: 0.9rem;
        line-height: 1.5;
        list-style: none;
        margin: 1rem auto 0;
        padding: 1rem;
        text-align: left;
        width: 95%;
        max-width: 420px;
    }

.outer-h-0-75 {
    height: 39em;
}

.outer-h-0-50 {
    height: 26em;
}

@media screen and (min-width: 800px) {
    /* .container max-width: 800px; */
    .inside2 {
        font-size: 20px;
    }

    .scoreboard-middle {
        font-size: 30px;
        font-weight: bold;
    }

    input[type="number"] {
        font-size: 20px;
    }
    .scoreboard
     {
        position: absolute;
        top: 25%;
    }
}


